<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta https-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>eBay Template</title>
<!-- ======= google fonts ======= -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
<!-- ======= css ======= -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://rony-sarkar.github.io/zeeuiux/css/style.css">
<link rel="stylesheet" href="https://rony-sarkar.github.io/zeeuiux/css/responsive.css">

</head>

<body>
<div class="main-div">
<!-- ======= header area start ======= -->

<div class="menu-area">
<div class="container">
<div class="row">
<div class="col-md-3">
<!-- logo part start-->
<div class="logo text-center">
<a href="" target="_blank"><img src="https://rony-sarkar.github.io/zeeuiux/images/Mask%20Group.png" alt=""></a>
</div>
<!-- logo part end-->
</div>
<div class="col-md-6">
<div class="search text-center">
<a href="" target="_blank"><img src="https://rony-sarkar.github.io/zeeuiux/images/search.png" alt=""></a>
</div>
</div>


<div class="col-md-3">
<!-- welcome part end-->
<div class="menu-container">
<div class="switch">
<label for="menu-switcher"></label>
</div>
<input id="menu-switcher" class="menu-switcher" type="checkbox">
<div id="navbar">
<ul>
<li><a href="" target="_blank">about us</a></li>
<li><a href="" target="_blank">contact us</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- ======= header area end ======= -->

<!-- ======= service area start ======= -->
<div class="service-box">
<div class="container">
<div class="row">
<div class="col-md-12">
<ul>
<li>
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/clock.png" alt="">
<span>60-Day Free Returns</span>
</li>
<li>
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/charging.png" alt="">
<span>Free Charging Cable Included</span>
</li>
<li>
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/shipping.png" alt="">
<span>Ships Same-Day if ordered before 1PM EST</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<!-- ======= service area end ======= -->

<!-- ======= product area start ======= -->
<section class="product-area">
<div class="container">
<div class="row">
<!-- product wraper star -->
<div class="col-md-6">
<!-- images gallery part start -->
<div class="gallery-content text-center" style="margin: 0">
<img src="https://rony-sarkar.github.io/zeeuiux/images/products/1.png" alt="">
</div>
<!-- images gallery part end -->
</div>
<div class="col-md-6">
<div class="product-dec">

<!-- product discription part start -->
<h3><span>Apple IPhone 12 Mini</span> - 64GB GSM - Unlocked - Gray Excellent Condition</h3>

<div class="row">
<div class="col-sm-6">
<div class="included" style="height: 200px">
<div class="row">
<div class="col-sm-3"><img src="https://rony-sarkar.github.io/zeeuiux/images/icons/Tick.png" alt=""></div> <div class="col-sm-9" style="padding: 0; color: #949494; font-size: 14px; font-weight: bold;">Included In The Package: </div>
</div>
<ul>
<li>Original box and all accessories</li>
</ul>
</div>
</div>

<div class="col-sm-6" style="padding-right: 0; ">
<div class="included" style="height: 200px">
<div class="row">
<div class="col-sm-3"><img src="https://rony-sarkar.github.io/zeeuiux/images/icons/Close.png" alt=""></div> <div class="col-sm-9" style="padding: 0; color: #949494; font-size: 14px; font-weight: bold;">Not Included In The Package: </div>
</div>
<ul>
<li>Sim Card</li>
</ul>
</div>
</div>
</div>

<h4>What network should I choose? </h4>
<div class="row">
<div class="col-sm-6">
<div class="network">
<span>Unlocked</span>
<p>Factory unlocked to <br> use with all networks. </p>
</div>
</div>

<div class="col-sm-6" style="padding-right: 0;">
<div class="network">
<span>Verizon, Sprint, T-Mobile, AT&T</span>
<p>Locked to the listed <br> network.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12" style="padding-right: 0;">
<div class="network network2">
<div class="col-sm-2">
<div class="new">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/new.png" alt="">
</div>
</div>
<div class="col-sm-5">
<h3>New Open Box</h3>
<p>Prisrine, look like new with no visible sign of wear</p>
</div>
<div class="col-sm-5">
<span><img src="https://rony-sarkar.github.io/zeeuiux/images/icons/bettery.png" alt="" class="nh"> 85% or Higher</span>
</div>
</div>
</div>
</div>
<!-- product discription part end -->

</div>
</div>
<!-- product wraper end -->
</div>
</div>
</section>
<!-- ======= product area end ======= -->

<div class="promise">
<h3>Our Promise</h3>
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="promise-info">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/mobile.png" alt="">
</div>
<div class="col-sm-9" style="padding-left: 0;">
<p>Hand tested with our 30 point inspection process</p>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="promise-info">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/Paper.png" alt="">
</div>
<div class="col-sm-9" style="padding-left: 0;">
<p>Fully Data Wiped & Fully Functional</p>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="promise-info">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/IMEI.png" alt="">
</div>
<div class="col-sm-9" style="padding-left: 0;">
<p>Clean IMEI ready for immediate activation</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="conditions">
<div class="container">
<div class="row">
<div class="col-md-12">

<h3>Why are we better?</h3>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="conditions-info">
<div class="row">
<div class="col-md-2">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/XMLID_287_.png" alt="">
</div>
<div class="col-md-10">
<h4>12 Month Warranty</h4>
<p>You’re purchase is covered for a full year against manufacturer defects.</p>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="conditions-info">
<div class="row">
<div class="col-md-2">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/analyze-1.png" alt="">
</div>
<div class="col-md-10">
<h4>Hand Tested</h4>
<p>Beware of buying devices tested by robots or softwares, We put in the extra time to hand-test our products ensuring all functionalities work perfectly</p>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="conditions-info">
<div class="row">
<div class="col-md-2">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/Vector.png" alt="">
</div>
<div class="col-md-10">
<h4>Ships Same-Day</h4>
<p>If you order before 1PM EST, we ship same-day!</p>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="conditions-info">
<div class="row">
<div class="col-md-2">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/Vector2.png" alt="">
</div>
<div class="col-md-10">
<h4>Customer Experience Team</h4>
<p>Any question? <br>
Send us a message and get a response from a human!</p>
</div>
</div>
</div>
</div>
</div>


</div>
</div>

<!-- ======= tab area start ======= -->
<div class="tab-part-area">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="tab-area">
<input id="tab1" name="tabs" checked="" type="radio">
<label for="tab1">Network Clarification</label><input id="tab2" name="tabs" type="radio"><label for="tab2">30 Point Inspection</label><input id="tab3" name="tabs" type="radio"><label for="tab3">Free Shipment</label><input id="tab4" name="tabs" type="radio"><label for="tab4">FAQs</label>


<!-- tab info start -->
<section id="content1" class="tab-section">
<div class="tab-list">

<h3>Which network should I choose? </h3>
<hr>

<div class="row">
<div class="col-sm-6">
<div class="cs">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/unlock.png" alt="">
</div>
<div class="col-sm-9">
<p><b>Unlocked:</b> Purchase a listing that says "Unlocked" in the title for devices compatible with international carriers and all USA carriers. </p>
</div>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="cs">
<div class="row">

<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/ver.png" alt="">
</div>
<div class="col-sm-9">
<p><b>Verizon:</b> Purchase a listing that says "Verizon" in the title for a device ready for use only on the Verizon network.</p>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="cs">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/att.png" alt="">
</div>
<div class="col-sm-9">
<p><b>AT&T: </b>Purchase a listing that says "AT&T" in the title for a device ready for use only on the AT&T network.</p>
</div>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="cs">
<div class="row">

<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/icons/t.png" alt="">
</div>
<div class="col-sm-9">
<p><b>T-Mobile: </b>Purchase a listing that says "T-Mobile" in the title for a device ready for use only on the Sprint network.</p>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="cs">
<div class="row">
<div class="col-sm-3">
<img src="https://rony-sarkar.github.io/zeeuiux/images/sprint.png" alt="">
</div>
<div class="col-sm-9">
<p><b>Sprint:</b> Purchase a listing that says "Sprint" in the title for a device ready for use only on the Sprint network.</p>
</div>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="cs mcs">
<p>Still not sure? <a href="" target="_blank"><b>CLICK HERE</b></a> to messsage us via  <br> eBay so we can help you out</p>

</div>
</div>
</div>

</div>
</section>
<!-- tab info end -->

<!-- tab info start -->
<section id="content2" class="tab-section">
<div class="col-md-12">
<div class="tab-list">

<h3>What functionalities do you test? </h3>
<hr>
<br>
<p>Short answer, all of them</p>
<br>
<p>Long answer, here’s the full list</p>

<div class="row">
<div class="col-md-6">
<ul>
<li>Activation Lock Status</li>
<li>Screen</li>
<li>WIFI</li>
<li>BlueTooth</li>
<li>Earpiece</li>
<li>Headphone Jack</li>
<li>Flash</li>
<li>Volume Buttons</li>
<li>Home Buttons</li>
<li>Touch ID</li>
<li>Charging Port</li>
<li>Proximity Sensor</li>
<li>Audio IC</li>
</ul>
</div>
<div class="col-md-6">
<ul>
<li>IMEI Status</li>
<li>Damage Free LCD/oLED</li>
<li>GPS</li>
<li>Speakers</li>
<li>Microphone</li>
<li>Camera</li>
<li>Power Button</li>
<li>Mute Switch</li>
<li>Face ID</li>
<li>Battery</li>
<li>3D touch</li>
<li>Touch IC</li>
<li>Unlock Screen</li>
</ul>
</div>
</div>

</div>
</div>
</section>
<!-- tab info end -->

<!-- tab info start -->
<section id="content3" class="tab-section">
<div class="col-md-12">
<div class="tab-list">
<h3>How fast do you ship out the products? </h3>
<hr>
<p>We offer Same-Day Shipping if an order is  placed and payment is received by 2PM EST. Otherwise, we ship next-day. Shipping is 100% free!</p>
<br>
<h3>What carrier do you ship through?</h3>
<hr>
<p>We utilize both USPS and FedEx, depending on the product. Shipments will generally arrive to you between 2-5 business days from the day you place your order.</p>
</div>
</div>
</section>
<!-- tab info end -->

<!-- tab info start -->
<section id="content4" class="tab-section">
<div class="col-md-12">
<div class="tab-list">

<h3>What will be inside the box?</h3>
<hr>
<p>We ship inside a brown box with plenty of padding. All products come in an additional padded sleeve around the device itself for extra protection. We also include a charging cable with your order for free.</p>
<br>
<h3>Can you send me photos of the device you are shipping? </h3>
<hr>
<p>Unfortunately not. By the time we list devices to eBay, they are already sealed inside padding individually for protection during all steps of our process. </p>

</div>
</div>
</section>
<!-- tab info end -->

</div>
</div>
</div>
</div>
</div>
<!-- ======= tab area end ======= -->
</div>
</body>

</html>
